#Beginning{
  text-shadow:2px 2px 5px blue;
}  

body{
  text-align: center;
  border: 10px solid transparent;
  padding: 15px;
  background-color: aliceblue;
}

ul{
    list-style: none;
    background: bisque;
    font-family: fantasy;
    position: fixed;
    top: 0px;
    right:30px;
    z-index:10;
    cursor:pointer;
    width:100%;
    margin-top:0px;
}
.links{
    float:left;
    color: crimson;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:35px;
    margin-right:25px;
    font-family:cursive;
    font-size:17px;
    display:inline;
}
.links:hover{
    color:whitesmoke;
    font-size:30px;
    text-decoration: underline;
}
html{
    scroll-behavior: smooth;
}
.para{
    font-size: 25px;
    color: blue;
    font-family:Arial;
}
.refer{
    font-size: 20px;
}
